@import url(
	https://fonts.googleapis.com/css?family=Source+Sans+Pro:600,
	400,
	400italic|Roboto+Mono
);

html {
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-rendering: optimizeLegibility;
	line-height: 1.5;
	font-size: 2em;
}

.main {
	align-items: center;
	display: flex;
	flex-direction: column;
	padding: 2em 0 0 0;
}

.avatar {
	border-radius: 75px;
	width: 150px;
	height: 150px;
}

.name {
	font-size: 1.5em;
	color: #f36170;
}

.bio {
    text-align: center;
	font-size: 90%;
}

.links {
	color: #000000;
}

.link-list {
	margin: 0.25em 0 0 0;
	list-style: none;
}

.link-item {
	a {
      	color: #8d7edc;
		text-decoration: none;
		&:hover {
			color: #bfb6eb;
		}
	}
	display: inline-block;
	&::after {
		content: "/";
	}
	&:last-child {
		&::after {
			content: "";
		}
	}
}
